@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --accent: #5d50fa;
    --black:#131313;
    --gray:#f9f9f9;
    --blue-gray:#f7f7fb;
}
nav{
    /* z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; */
    color: var(--black);
    /* background-color: white; */
    /* padding: 30px 50px; */
    transition: all 0.1s ease-out;
    filter: drop-shadow(5px 5px 10px transition);
}
/* .navbar{
} */
.accent{
    color: rgb(223, 61, 2);
}
.menu a{
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: black;
}
/* .menu a:hover::after{
    transform: scale(1) !important ;
    transform-origin: bottom left !important;
    background-color: yellow !important;
} */
.menu a::after{
    color: var(--accent);
    content: "";
    position: absolute;
    width: 100%;
    transform: scale(0);
    border-radius: 5px;
    height: 0.1em;
    bottom: 0;
    left: 0;
    background: currentColor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.menu a:hover::after{
    transform: scale(1);
    transform-origin: bottom left;
    }
.btn-2{
    height: 50px;
    width: 160px;
    font-size: 20px;
    background-color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 12px;
    color: white;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.2));
}
.btn-2:hover{
    background-color: var(--black);
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
}
.hero-page{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    overflow: hidden;
}
.about{
    /* display: flex; */
    /* flex-direction: column; */
    color: white;
    margin-top: 110px;
}
.about-container {
    /* display: flex; */
    /* position: relative; */
    /* flex-direction: column; */
    align-items: center;
    background-image: url("img/about_img.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* width: 100%; */
    /* height: 540px; */
}
.about-container h1{
    font-size: 40px;
    font-weight: bold;
    /* width: 494px; */
    text-align: center;
    margin-top: 67px;
    color: #f7f7fb;
    text-align: center;

}
.about-sublines{
    font-size:24px;
    width: 822px;
    text-align: center;
    opacity: 0.7;
    color: whitesmoke;

}
.about-info{
    /* display: flex; */
     position: absolute;
     top: 300px;
     gap: 50px;
     flex-wrap: nowrap;
}

.about-info-item{
    /* display: flex; */
    flex-direction: column;
    background-color: white;
    color: var(--black);
    padding: 0px 35px 47px 17px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.2));
    transition: all ease-out 0.03s;
}
.about-info-item:hover{
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));

}
.about-hr{
    width: 100%;
    position: absolute;
    border: 16px solid var(--accent);
    color: var(--accent);
    left: 0px;
}
.about-info-item img{
    width: 178px;
    height: 178px;
    margin-top: 45px;
}
.about-info-item h5{
    font-size: 32px;
}

.about-info-item p{
    font-size: 16px;
    margin-top: 8px;
}
#collection h1{
    margin-top: 100px !important;
    font-size: 64px !important;
    font-weight: bold !important;
}
.collection-container{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

.collection-car-item{
    width: 100%;
    height: 95%;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.15));
    transition: all 0.3s ease-out;
    margin: 10px;
}
.collection-car-item:hover{
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.30));
    cursor: pointer;
}
.collection-car-item img{
    border-radius: 32px;
}
.car-info-container h2{
    font-size: 32px;
    margin-bottom: 33px;
    margin-top: 5px;
}
.car-info-container{
    padding: 20px 30px 30px 30px ;
}
.car-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.car-price{
    gap:4px;
    align-items: center;
}
.car-price h5{
    font-size: 24px;
}
.car-price h6{
    font-size: 20px;
    opacity: 0.6;
}
.car-location{
    gap: 8px;
    align-items: center;
    opacity: 0.3;
}
.car-location i{
    font-size: 20px;
}
.car-location h6{
    font-size: 20px;
}
.car-info-container h2{
    font-size: 32px;
    margin-bottom: 33px;
    margin-top: 5px;
}
.car-info-container{
    padding: 20px 30px 30px 30px ;
}
.btn{
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.btn-car{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 32px;
    width: 172px;
    height: 50px;
    font-size: 16px;
    margin-top: 30px;
}
.btn-car i{
    font-size: 16px;
}
.btn-car:hover{
    gap:8px;
}
.btn-herocar{
    width: 276px;
    height: 60px;
    border-radius: 0px;
    font-size: 24px;
    background-color: var(--black);
    color: white;
    margin-top: 32px;
    transition: all 0.3s ease-out;
}
.btn-herocar i{
    font-size: 24px;
}
.btn-herocar:hover{
    background-color: white !important;
    color: var(--black) !important;
}
.review-container{
    display: flex;
    gap: 24px;
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: center;    
}
.review-item{
    width: 100%;
    height: 100%;
    border-radius: 32px;
    background-color: var(--gray);
    padding: 40px 30px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.15));
    transition: all 0.3s ease-out;
    margin-bottom: 10%;
}
.review-item:hover{
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.3));
}
.review-item p{
    font-size: 24px;
}
.review-people {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 10px;
}
.review-people h5{
font-size: 24px;
}
.callout{
    background-image: url("img/callout-img-desktop.png");
    position: absolute;
    /* top: 200px; */
    margin: 0px 50px;
    height: 350px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
/* .callout h2{
    font-size: 48px; 
} */
.index-footer{
    width: 100%;
    height: auto;
}
.fixed{

    position:fixed;
    top: 0;
    left: 0;
}